@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    margin: 0px;
 }
 :root {
    --primary-color:#2a6663;     
    --off-white:#E5E7EB;
    --dark-gray:#6B7280;
}

  .header {
    padding: 20px;
    font-size: 20px;
    text-align:justify;
    background:var(--primary-color);
    color:white;
  }